@using chat.Shared;
@using chat.Shared.Dto;
@page "/users"
<div>
    <p>Search: <input @bind="Filter" /></p>
    @if(Users is not null)
    {
        @foreach(var u in Users)
        {
            <button @onclick="() => UserSelected.InvokeAsync(u)">
                <img src="@u.ImageUrl" style="width:100px;height:100px;" />
                @u.UserName
            </button>
        }
    }


</div>

@code {
    string Filter { get; set; } = string.Empty;
    List<UserDto> Users { get; set; }
    EventCallback<UserDto> UserSelected { get; set; }
}
