@using chat.Shared;
@using chat.Shared.Dto;

<div>
    if(PrivateChats == null)
    {
    <p>Loading...</p>
    }
    else
    {
    @foreach (var c in Messages)
    {
        <p><strong> @c.Sender.UserName @c.Created.ToShortDateString()</strong>: @c.Content</p>
    }
    }
</div>
@code {
    [Parameter]
    public List<PrivateMessageDto> Messages { get; set; } = new();
}
