@using chat.Shared.Dto;
<h3>GroupChat</h3>

<div>
    if(PrivateChats == null)
    {
   <p>Loading...</p>
    }
    else
    {
    @foreach (var m in Group.Messages)
    {
            <p><strong> @m.Sender.UserName @m.Created.ToShortDateString()</strong>: @m.Content</p>
    }
    }
</div>

@code {
    public GroupDto Group { get; set; }
}
